* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// scrollbar styling
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(358, 80%, 50%);
  border-radius: 100vh;
}
::-webkit-scrollbar-track {
  background-color: hsl(358, 91%, 68%);
  border-radius: 100vh;
  margin: 5px 0;
}

body {
  font-family: "Poppins", -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  color: #fff;
  background-color: #5c636a8a;
}
