* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: #b9b9b9;
}

::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 100vw;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::selection {
  color: #fff;
  background-color: #5c636a8a;
}
