.cart {
    position: fixed;
    top: 70px;
    right: 20px;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    z-index: 999999;
    border: 2px solid #888;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transform: translateY(8px);
}
.cart.show {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    cursor: unset;
}
.btn-close {
    &:focus {
        box-shadow: none;
    }
}
