.checkoutItem  {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border: none !important;
    background-color: #C0C3C3;
}
.chevron {
    cursor: pointer;
    margin:15px;
    padding: 8px;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    color: #888;
    &:hover {
        color: #222;
    }
}